body {
	margin: 0;
	padding: 0;
}

#divContenedor {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	height: 100vh;

	font-size: 16px;
}

#divTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

#title {
	width: 50%;
}

#divOptions {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.divBotonera button {
	height: 2rem;
	width: 7rem;
	font-weight: 900;
}

.divBotonera button:hover {
	cursor: pointer;
	background-color: white;
	color: darkblue;
}

#divInput {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5vh;
	width: 80%;
}

#inputTodo {
	width: 60%;
	height: 2rem;
	padding: 2px 10px 2px 10px;
}

#selectIcon {
	width: 20%;
	height: 2rem;
}

#btnAgregar {
	width: 10%;
	height: 2rem;
	font-weight: 900;
}

#divInfo {
	width: 65%;
	height: 2rem;
	display: grid;
	grid-template-columns: 10% 75% 15%;
	align-items: center;
	text-align: center;
	font-weight: 700;
}

#divList {
	min-height: 50vh;
	width: 65%;
}

#divList div {
	display: grid;
	grid-template-columns: 10% 75% 15%;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 5px;
}

.divCheck {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

#divIndex {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65%;
}

.btnIndex {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 1.5rem;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: 900;
	margin: 10px;
	background-color: gray;
}

.enabled {
	background-color: lightgrey;
	cursor: pointer;
}

.enabled:hover {
	color: blue;
	background-color: white;
}